<div class="row mt-5 mb-5 justify-content-center" *ngIf="taskList.length > 0; else noTasksMessage" >


  <!-- Listar tareas Asignadas (Todas) -->
  <list-all class="col-4 col-xs-12 box w-25 mx-5" [taskList]="tasks" ></list-all>

  <!-- Listar tareas Pendientes  -->
  <list-pending class="col-4 box w-25 mx-5" [taskList]="tasks"></list-pending>

  <!-- Listar tareas Completadas -->
  <list-completed class="col-4 box w-25 mx-5" [taskList]="tasks"></list-completed>


</div>


<ng-template #noTasksMessage>
  <div class="text-center mt-3 d-flex justify-content-center">
    <div class="alert alert-danger w-50 " role="alert" *ngIf="taskList.length == 0">
      No tienes tareas asignadas!
    </div>
  </div>
</ng-template>




