<div class="row mt-5 mb-5" *ngIf="taskList.length > 0; else noTasksMessage">
  <div class="col"></div>


  <div class="col-4 box w-25 mx-5">
    <h4 class="text-white h4">Tareas Asignadas</h4>
    <div class="task" *ngFor="let task of taskList">
      <ng-container>
        <input type="text" id="input" [(ngModel)]="task.name" (change)="onModifyId(task.id, task.name)" value="{{task.name}}">
        <button (click)="onCheckId(task.id)" [ngClass]="task.check ? 'btn btn-outline-success mx-4 fa-solid fa-circle-check p-2' : 'btn btn-outline-warning mx-4 fa-solid fa-clock p-2'"></button>
        <button class="btn btn-outline-danger fa-solid fa-trash-can p-2" (click)="onDeleteId(task.id!)"></button>
      </ng-container>
    </div>
  </div>

  <div class="col-4 box w-25 mx-5">
    <h4 class="text-white h4">Tareas Pendientes</h4>
    <div class="task " *ngFor="let task of taskList">
      <ng-container *ngIf="!task.check">
        <input type="text" id="input" [(ngModel)]="task.name" (change)="onModifyId(task.id, task.name)" value="{{task.name}}" />
        <button (click)="onCheckId(task.id)" class="btn btn-outline-warning mx-4 fa-solid fa-clock p-2"></button>
        <button class="btn btn-outline-danger fa-solid fa-trash-can p-2" (click)="onDeleteId(task.id!)"></button>
      </ng-container>
    </div>
  </div>


  <div class="col-4 box w-25 mx-5">
    <h4 class="text-white h4">Tareas Completadas</h4>
    <div class="task" *ngFor="let task of taskList">
      <ng-container *ngIf="task.check">
        <input type="text" id="input" [(ngModel)]="task.name" (change)="onModifyId(task.id, task.name)" value="{{task.name}}">
        <button (click)="onCheckId(task.id)" class="btn btn-outline-success mx-4 fa-solid fa-circle-check p-2"></button>
        <button class="btn btn-outline-danger fa-solid fa-trash-can p-2" (click)="onDeleteId(task.id!)"></button>
      </ng-container>
    </div>
  </div>

  <div class="col"></div>


</div>


<ng-template #noTasksMessage>
  <div class="text-center mt-3 d-flex justify-content-center">
    <div class="alert alert-danger w-50 " role="alert" *ngIf="taskList.length == 0">
      No tienes tareas asignadas!
    </div>
  </div>
</ng-template>




